/* Text Paragraph */

.paragraph {
  font-size: var(--font-size--paragraph);
  font-family: var(--font-famely-kanit);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 700;
  text-indent: 5rem;
  letter-spacing: 0.07rem;
  text-shadow: 0.9rem 0.9rem 0.9rem rgba(0, 0, 0, 1);
}

.subtitle {
  font-weight: 500;
  letter-spacing: 0.044rem;
  text-shadow: 0.9rem 0.9rem 0.9rem rgba(0, 0, 0, 0.7);
}

.navder {
  letter-spacing: 0.03em;
}

.navder:hover,
.navder:focus {
  text-decoration: underline;
  letter-spacing: 0.05rem;
  opacity: 0.8;
}

.title,
.subtitle,
.navder {
  font-style: normal;
  font-family: var(--font-famely--opensat);
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: var(--font-size--paragraph);
  font-family: var(--font-size--paragraph);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  background-color: var(--color-link);
}

.button:hover {
  transform: translate(-0.2rem);
  box-shadow: 0rem 0.6rem 0.8rem rgba(0, 0, 0, 0.15);
  background-color: var(--color-hover-link);
}

/* Sqare Perfect*/

.square {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.square .square__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
}

.square:hover .square__img,
.square:focus .square__img {
  transform: scale(1.1); /* La imagen crece ligeramente en hover/focus */
  opacity: 0.9; /* Ligera transparencia en hover/focus */
}
